* {
    font-weight: 300;
    transition: all 0.1s ease;
}

@font-face {
    font-family: iransans;
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\).eot');
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\).ttf'), url('./fonts/iransans/IRANSansWeb\(FaNum\).woff') format('woff'), url('./fonts/iransans/IRANSansWeb\(FaNum\).woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: iransans-bold;
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Bold.eot');
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Bold.ttf'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Bold.woff') format('woff'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Bold.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: iransans-light;
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Light.eot');
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Light.ttf'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Light.woff') format('woff'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Light.woff2') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: iransans-medium;
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Medium.eot');
    src: url('./fonts/iransans/IRANSansWeb\(FaNum\)_Medium.ttf'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Medium.woff') format('woff'), url('./fonts/iransans/IRANSansWeb\(FaNum\)_Medium.woff2') format('truetype');
    font-weight: normal;
}

body {
    text-align: right;
    font-family: iransans;
    font-size: 13px;
}

html, body {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-align: right;
}

* {
    box-sizing: border-box;
}

a:hover {
    text-decoration: none;
}

ul {
    padding-right: 0;
    margin-bottom: 0;
}

    ul li {
        list-style: none;
    }

.slick-slide img {
    width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}
/*  */
.lazy .slick-dots {
    bottom: 15px !important;
}

    .lazy .slick-dots li button::before {
        font-size: 15px !important;
    }

.lazy.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.slick-prev, .slick-next {
    z-index: 1 !important;
}

.lazy .slick-prev {
    left: 25px !important;
}

.lazy .slick-next {
    right: 25px !important;
}

.lazy img {
    height: 100vh;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}
/*  */

.top-slider .slick-dots li button::before {
    position: absolute;
    border: 2px solid white;
    top: 0%;
    border-radius: 100%;
    box-shadow: 0 0 2px 0px white;
}
/**/
footer p, footer strong, footer b, footer {
    color: #b0b0b0;
}

.footer-top {
    background: #1C1C1C;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: cover;
    background-position: center;
    padding: 40px 0 20px;
}

h3.text-center.footer-city-title {
    position: relative;
}

    h3.text-center.footer-city-title::before {
        content: "";
        position: absolute;
        width: 41%;
        height: 1px;
        background: #ffffff21;
        left: 0;
        top: 50%;
    }

    h3.text-center.footer-city-title::after {
        content: "";
        position: absolute;
        width: 41%;
        height: 1px;
        background: #ffffff21;
        right: 0;
        top: 50%;
    }

.br-col-w1, .dlab-info.br-col-w1[class*="border-"], .icon-bx-wraper.bx-style-1.br-col-w1, .icon-bx-wraper.bx-style-2.br-col-w1 {
    border-color: rgb(78, 190, 229);
}

.site-footer .icon-bx-wraper {
    overflow: hidden;
}

.icon-bx-wraper.bx-style-1, .icon-bx-wraper.bx-style-2 {
    border-width: 1px;
    border-style: solid;
    border-color: #ebedf2;
    font-size: 14px;
}

.icon-bx-wraper {
    position: relative;
}

.bg-tpw1 {
    background-color: rgb(255 255 255 / 4%);
}

.p-a18 {
    padding: 18px;
}

.m-b20 {
    margin-bottom: 20px;
}

.font-weight-300 {
    font-weight: 300;
}

footer p {
    line-height: 24px;
    margin-bottom: 10px;
}

footer p, footer li {
    font-size: 13px;
    line-height: 22px;
}

ul[class*="list-"] {
    font-size: 15px;
}

.m-a0 {
    margin: 0 !important;
}

.list-inline > li {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
}

footer p, footer li {
    font-size: 13px;
    line-height: 22px;
}

.widget {
    margin-bottom: 40px;
    text-align: right;
}

.border-0 {
    border: 0 !important;
}

footer .widget ul {
    list-style: none;
    margin-top: 5px;
}

ul[class*="list-"] {
    font-size: 15px;
}

.list-2 {
    display: table;
}

.widget.border-0 ul li {
    border: 0 none;
}

.list-2 li {
    float: left;
    padding: 5px 10px 5px 5px;
    width: 50%;
    position: relative;
}

footer p, footer li {
    font-size: 13px;
    line-height: 22px;
}

footer a, footer a:visited {
    color: #b0b0b0;
}

.m-r30 {
    margin-right: 30px;
}

.m-b20 {
    margin-bottom: 20px;
}

.font-weight-300 {
    font-weight: 300;
}

.site-footer .widget_getintuch {
    padding-top: 0;
}

.widget_getintuch {
    padding-top: 10px;
}

.widget {
    margin-bottom: 40px;
    text-align: right;
}

.widget_getintuch i {
    position: absolute;
    right: 0;
    top: 5px;
    text-align: center;
    font-size: 18px;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.footer-bottom {
    background-color: #1C1C1C;
    padding: 25px 0;
    color: #b0b0b0;
    font-size: 14px;
    border-top: 1px solid rgba(255,255,255,0.05);
}

.widget_getintuch li {
    margin-bottom: 5px;
    position: relative;
    padding-right: 40px;
}

.widget_getintuch b, .widget_getintuch strong {
    display: block;
    text-transform: uppercase;
}

a.site-button {
    display: flex;
    align-items: center;
    justify-content: center
}

.site-button {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 39px;
}

    .site-button:hover {
        color: white !important;
        border: 1px solid #4ebee5 !important;
        border-radius: 100%;
    }

.site-button {
    width: 40px;
    height: 40px;
    padding: 0;
    line-height: 39px;
}

.list-inline > li {
    padding-left: 2px;
    padding-right: 2px;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}

footer p, footer li {
    font-size: 13px;
    line-height: 22px;
}

.site-button, .site-button-secondry {
    color: #fff;
    padding: 7px 15px;
    display: inline-block;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    border-radius: 0px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

.footersocial-container i {
    font-size: 16px;
}
/*  */
.about-section {
    background-image: url(../img/bg5.jpg);
    height: 300px;
    background-size: cover;
    position: relative;
    background-position: bottom;
    text-align: center;
    color: white;
    margin-bottom: 1%;
}

    .about-section::before {
        background-image: linear-gradient(360deg,rgba(16,16,16,.1),rgba(78, 190, 229, 0.55));
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

.elementor-widget-wrap {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0;
}

.about-section p {
    font-size: 18px;
}

.about-section .btn {
    color: #fff;
    background: #000;
    border-width: 2px;
    border-style: solid;
    border-color: #000;
    border-radius: 50px;
}

    .about-section .btn i {
        font-size: 13px;
        margin-right: 10px;
    }

.about-section-card {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 30px;
}

    .about-section-card .elementor-widget-wrap {
        margin-bottom: 20px;
    }

    .about-section-card p {
        margin: 0 0 40px 0;
    }
/*  */
.section-brand {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
}

.section-brand-img {
    width: 55%;
    height: 320px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.section-brand-card {
    width: 45%;
    padding-right: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-brand .title {
    font-size: 31px;
    font-weight: 400;
    color: #3c3738;
    margin-bottom: 25px;
    line-height: 45px;
    padding-right: 14px;
    position: relative;
}

    .section-brand .title::before {
        content: "";
        position: absolute;
        width: 3px;
        height: 94%;
        top: 2px;
        background: #4ebee5;
        right: 0px;
    }

.section-brand p {
    font-size: 14px;
    line-height: 28px;
    color: #605d5e;
    opacity: 0.9;
}

.section-brand .btn {
    border-color: #1C1C1C;
    color: #1C1C1C;
    border-radius: 0;
    font-weight: 400;
    font-size: 13px;
    width: 140px;
    height: 37px;
    padding-top: 8px;
    margin-left: 10px;
    margin-bottom: 10px;
}

    .section-brand .btn:hover {
        background-color: #1C1C1C;
        color: white;
    }

.top-slider-item {
    position: relative;
    height: 560px;
}

    .top-slider-item::before {
        background-image: linear-gradient(270deg,rgba(16,16,16,.1),rgba(78, 190, 229, 0.55));
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .top-slider-item img {
        height: 560px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center;
        object-position: center;
    }

    .top-slider-item .slide-content {
        position: absolute;
        bottom: 0;
        right: 45%;
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }

        .top-slider-item .slide-content p {
            font-size: 15px;
        }

        .top-slider-item .slide-content .btn {
            margin-top: 40px;
            margin-right: 10px;
            color: #fff;
            background: #000;
            border-width: 2px;
            border-style: solid;
            border-color: #000;
            border-radius: 50px;
            font-size: 13px;
            width: 120px;
        }
/*  */
header {
    position: relative;
}

.site-logo {
    position: absolute;
    width: 216px;
    height: 136px;
    background-color: #1C1C1C;
    z-index: 1;
    text-align: center;
    right: 0;
    padding-top: 16px;
}

.header-sec-one {
    background-color: white;
    direction: rtl;
    height: 65px;
}

    .header-sec-one .container .d-flex {
        padding-right: 216px;
        align-items: center;
        height: 65px;
    }

.header-col-left i {
    font-size: 18px;
    margin-right: 16px;
    color: #131b1f;
}

.header-sec-one .header-col-right span i {
    font-size: 1.4em;
    vertical-align: middle;
    margin-right: auto;
    margin-left: .4em;
    color: #eb2a2a;
}

.mail-box, .phone-box {
    padding: 0 24px;
    position: relative;
}

    .mail-box::before, .phone-box::before {
        position: absolute;
        content: "";
        left: 0;
        height: 65px;
        width: 1px;
        background-color: silver;
        top: -19px;
    }

    .mail-box h4, .phone-box h4 {
        font-weight: 800;
        font-style: normal;
        font-size: 14px;
        display: inline-block;
    }

.header-socials {
    padding: 0 24px;
    color: #131b1f;
}

    .header-socials i {
        font-size: 14px !important;
        color: #131b1f !important;
        margin-left: 15px !important;
    }

.header-sec-two {
    background-color: #4ebee5;
    color: white;
    height: 65px;
}

.header-sec-two-card {
}
/*  */
.revealtop {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1.5s all ease;
}

.revealleft {
    position: relative;
    transform: translateX(100px);
    opacity: 0;
    transition: 1.5s all ease;
}

    .revealtop.active, .revealleft.active {
        transform: translateX(0);
        opacity: 1;
    }
/*  */

@media screen and (max-width:768px) {
    .section-brand {
        display: block;
    }

        .section-brand .section-brand-img {
            width: 100%;
        }

        .section-brand .section-brand-card {
            width: 100%;
        }
}

.logo-res, .title-res {
    display: none;
}

@media screen and (max-width:1000px) {
    .header-sec-one {
        display: none;
    }

    #cssmenu ul ul {
        top: 0%;
    }

    #cssmenu > ul > li.has-sub > a, #cssmenu > ul > li > a {
        margin-top: 0px;
    }

    #cssmenu ul, #cssmenu ul li, #cssmenu ul li a {
        height: auto;
        color: white !important;
    }

        #cssmenu ul li a:hover {
            background: #333333;
        }

    #cssmenu ul {
        background: #1C1C1C;
    }

    .header-sec-two {
        background: #4ebee5;
        position: fixed;
        top: 0;
        z-index: 10000;
        width: 100%;
    }

    .logo-res {
        display: block;
        position: absolute;
        top: 8px;
    }

    .title-res {
        display: block;
        position: absolute;
        top: 19px;
        color: #1C1C1C;
        font-size: 20px;
        font-weight: bold;
        right: calc(50% - 74px);
    }

    .about-section {
        height: 400px;
    }

    .br-col-w1 {
        margin-bottom: 20px;
    }

    .open {
        top: 18px;
        border-right: 1px solid #444;
        border-left: 1px solid #444;
        border-bottom: 1px solid #444;
    }

    .top-slider-item .slide-content {
        padding: 20px;
        right: 0;
    }
}
/* search */
#search {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.9);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    -webkit-transform: translate(0px, -100%) scale(0, 0);
    -moz-transform: translate(0px, -100%) scale(0, 0);
    -o-transform: translate(0px, -100%) scale(0, 0);
    -ms-transform: translate(0px, -100%) scale(0, 0);
    transform: translate(0px, -100%) scale(0, 0);
    opacity: 0;
}

    #search.open {
        -webkit-transform: translate(0px, 0px) scale(1, 1);
        -moz-transform: translate(0px, 0px) scale(1, 1);
        -o-transform: translate(0px, 0px) scale(1, 1);
        -ms-transform: translate(0px, 0px) scale(1, 1);
        transform: translate(0px, 0px) scale(1, 1);
        opacity: 1;
    }

    #search h3 {
        position: absolute;
        top: 25%;
        width: 100%;
        color: #fff;
        text-align: center;
    }

    #search input[type="search"] {
        border-radius: 100px;
        border-width: 2px !important;
        border-color: rgba(255,255,255,.6);
        padding: .6em 1.5em !important;
        text-align: right;
        height: 60px;
        background: rgba(0, 0, 0, 0);
    }

    #search .btn {
        cursor: pointer;
        line-height: 3em;
        opacity: .3;
        position: absolute;
        right: 10px;
        text-align: right;
        width: 40px;
        top: 6px;
        left: 5px;
    }

    #search .position-absolute {
        top: 40%;
        width: 80%;
        right: 10%;
    }

    #search .btn i {
        font-size: 35px;
        color: white;
    }

    #search .close {
        position: fixed;
        top: 15px;
        right: 15px;
        color: #fff;
        background-color: #888;
        border-color: #ccc;
        opacity: 1;
        padding: 10px 17px;
        font-size: 27px;
    }
/* sidebar */
.overlay {
    display: none;
    background: rgba(0,0,0,.8);
    opacity: .3;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 3;
    cursor: pointer;
}

.sidebar {
    width: 400px;
    background: #333131;
    color: white;
    position: fixed;
    left: -400px;
    height: 100%;
    transition: .3s;
    z-index: 4;
    top: 0;
    padding: 20px;
}

    .sidebar.hideSidebar {
        font-size: 18px;
        cursor: pointer;
    }

    .sidebar h6 {
        font-size: 18px;
    }
/*  */
.mystyle {
    position: fixed;
    right: 10%;
    z-index: 101;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    width: 54px;
    top: -10px;
}

.mystyle2 {
    transition: all 0.5s ease 0s;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0px;
}

.mystyle3 {
    transition: all 0.5s ease 0s;
    position: fixed;
    left: 10%;
    z-index: 101;
}

    .mystyle3 i {
        color: white;
    }

.mystyle2 nav {
    margin-right: 115px;
}
/*******************************************************************************************/
header .navbar-nav {
    flex-direction: unset !important;
}

@media (max-width: 990px) {
    header .navbar-nav {
        flex-direction: column !important;
    }
}

.navbar ul {
    list-style: none;
}

    .navbar ul a {
        text-decoration: none;
    }

.navbar .navbar-toggler,
.navbar .nav-link,
.navbar .utils-search {
    color: #1c1c1c;
    ;
}

.navbar .navbar-utils > * {
    cursor: pointer;
}

.navbar .btn-search {
    font-size: 1.5rem;
    background: transparent;
    outline: none;
    border: none;
    color: inherit;
    cursor: pointer;
}

.navbar-nav {
    display: flex;
    list-style: none;
}

    .navbar-nav .nav-link {
        padding: 20px;
        text-decoration: none;
        font-size: 0.9em;
        font-weight: 400;
        display: block;
        transition: 150ms ease;
    }

    .navbar-nav .nav-item {
        margin: 0 10px;
        position: relative;
    }

    .navbar-nav > .nav-item:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #0081ff;
        bottom: -16px;
        transition: 400ms ease;
        transform: scaleX(1.5);
        opacity: 0;
    }

    .navbar-nav > .nav-item:hover:after {
        transform: scaleX(1);
        opacity: 1;
    }

.navbar-toggler {
    padding: 0.1rem 0.45rem;
    cursor: pointer;
    font-size: 1.5rem;
    background: none;
    outline: none;
    border: 1px solid #636363;
    border: none;
    border-radius: 3px;
    transition: 0.15s linear;
    display: none;
    margin-left: auto;
    margin-right: 0px;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 10000;
}

    .navbar-toggler:hover,
    .navbar-toggler:focus {
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.36);
    }

/* Navbar options (bg options) */
.bg-primary {
    background: #0081ff;
    z-index: 99999;
}

    .bg-primary .navbar-toggler,
    .bg-primary .nav-link,
    .bg-primary .utils-search {
        color: #fff;
    }

    .bg-primary .nav-item:after {
        background: #fff;
    }



.bg-light .navbar-toggler,
.bg-light .nav-link,
.bg-light .utils-search {
    color: #363636;
}

/* Dropdown CSS */
.nav-item .dropdown {
    width: 200px;
    display: block;
    position: absolute;
    top: 56px;
    transition: 300ms;
    /* padding: 10px; */
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    background: #fff;
    /* border-radius: 4px; */
    z-index: 999;
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.15);
    background-color: #4ebee5;
}

    .nav-item .dropdown li {
        box-shadow: inset 0 -1px #3988a0;
        margin: 0;
    }

        .nav-item .dropdown li:last-child {
            box-shadow: none;
        }

    .nav-item .dropdown .nav-link {
        color: #1c1c1c;
    }

    .nav-item .dropdown .dropdown {
        top: 0;
        right: calc(100% + 0px);
        border-top: 0;
    }

    .nav-item .dropdown .nav-item.icon > a::before {
        right: 5px !important;
    }

    .nav-item .dropdown .dropdown:before {
        top: 10px;
        left: -10px;
        border: 5px solid transparent;
        border-right-color: #000;
    }

    .nav-item .dropdown:before {
        content: "";
        position: absolute;
        top: -10px;
        left: 10px;
        border: 5px solid transparent;
        border-bottom-color: #000;
        display: none;
    }

    .nav-item .dropdown > .nav-item:hover > .nav-link {
        /* color: #317589; */
        background-color: #83d0e3;
    }

.nav-item:hover > .dropdown {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

.nav-item:hover > a::before {
    transform: rotate(90deg);
}

.nav-close {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

    .nav-close .btn-nav-close {
        border: 0;
        outline: 0;
        background: transparent;
        font-size: 2rem;
        cursor: pointer;
        width: 30px;
        height: 30px;
        border: 2px solid #363636;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #363636;
    }

        .nav-close .btn-nav-close .close-btn {
            transform: rotate(45deg);
            font-size: 15px;
        }

        .nav-close .btn-nav-close:hover,
        .nav-close .btn-nav-close:focus {
            background: #363636;
            color: #fff;
        }

.nav-item.icon > a:before {
    content: "";
    position: absolute;
    right: -10px;
    top: calc(50% + 0px);
    transform: translateY(-50%);
    border: 4px solid transparent;
    border-right-color: inherit;
    transition: 0.15s linear;
}

.nav-item.icon:hover > a::before {
    transform: rotate(270deg);
}

/* Responsive (navbar alignments options) */
@media (min-width: 992px) {

    .navbar-brand,
    .navbar-utils {
        flex: auto;
    }

    .navbar-utils {
        text-align: right;
    }

    .navbar-right .navbar-brand,
    .navbar-right .navbar-utils {
        flex: initial;
    }

    .navbar-right .navbar-nav {
        justify-content: flex-end;
        margin-right: 20px;
    }

    .navbar-left .navbar-nav {
        order: 1;
        justify-content: flex-start;
    }

    .navbar-left .navbar-brand {
        order: 2;
    }

    .navbar-left .navbar-utils {
        order: 3;
    }

    .navbar-right .dropdown .dropdown {
        left: unset;
        right: calc(100% + 20px);
        border-top: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.15);
    }
}

/* Nav Option (Logo Center) */
@media (min-width: 992px) {
    .navbar-left .navbar-brand {
        text-align: right;
    }

    .navbar-left .navbar-toggler {
        display: block;
        margin-right: 0;
    }

    .navbar-left .navbar-nav {
        background: #ffffff;
        flex-direction: column;
        z-index: 99999;
        padding: 0 20px;
        opacity: 0;
        transition: 400ms ease;
        /* Sidebar */
        position: fixed;
        left: 0;
        top: 0;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        box-shadow: 0px 0px 0 2000px rgba(0, 0, 0, 0.5);
        transform: translateX(-300px);
    }

        .navbar-left .navbar-nav .nav-link {
            margin: 10px 0;
            color: #636363;
            display: flex;
            align-items: center;
        }

        .navbar-left .navbar-nav > .nav-item:first-child {
            margin-top: 20px;
        }

        .navbar-left .navbar-nav > .nav-item:last-child {
            margin-bottom: 20px;
        }

        .navbar-left .navbar-nav .nav-item:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .navbar-left .navbar-nav .nav-item:hover > .nav-link {
            color: #0081ff;
        }

        .navbar-left .navbar-nav > .nav-item:after {
            display: none;
        }

        .navbar-left .navbar-nav .nav-close {
            display: block;
        }

        .navbar-left .navbar-nav.active {
            max-height: initial;
            opacity: 1;
            transform: translateX(0);
            left: 0;
            box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.5);
        }

    .navbar-left .nav-item .dropdown {
        padding: 0;
        position: initial;
        max-height: 0;
        width: initial;
        border: none;
        box-shadow: none;
    }

        .navbar-left .nav-item .dropdown .dropdown {
            border: none;
        }

        .navbar-left .nav-item .dropdown:before {
            display: none;
        }

    .navbar-left .nav-item:hover > .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        max-height: initial;
    }

    .navbar-left .nav-item.icon a:before {
        top: unset;
        right: 0;
    }
}

/* Responsive navbar */
@media (max-width: 991px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-nav {
        background: #ffffff;
        flex-direction: column;
        z-index: 99999;
        padding: 0 20px;
        opacity: 0;
        transition: 400ms ease;
        /* Sidebar */
        position: fixed;
        right: 0px;
        top: 0;
        width: 300px;
        height: 100%;
        overflow-y: auto;
        transform: translateX(300px);
    }

        .navbar-nav .nav-link {
            margin: 10px 0;
            color: #636363;
            display: flex;
            align-items: center;
        }

        .navbar-nav > .nav-item:first-child {
            margin-top: 20px;
        }

        .navbar-nav > .nav-item:last-child {
            margin-bottom: 20px;
        }

        .navbar-nav .nav-item:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }

        .navbar-nav .nav-item:hover > .nav-link {
            color: #0081ff;
        }

        .navbar-nav > .nav-item:after {
            display: none;
        }

        .navbar-nav .nav-close {
            display: block;
        }

        .navbar-nav.active {
            max-height: initial;
            opacity: 1;
            transform: translateX(0);
            right: 0;
            box-shadow: 0px 0px 0 10000px rgba(0, 0, 0, 0.5);
            background: #317589;
        }

    .nav-item .dropdown {
        padding: 0;
        position: initial;
        max-height: 0;
        width: initial;
        border: none;
        box-shadow: none;
    }

        .nav-item .dropdown .dropdown {
            border: none;
        }

        .nav-item .dropdown:before {
            display: none;
        }

    .nav-item:hover > .dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        max-height: initial;
    }

    .nav-item.icon a:before {
        top: unset;
        right: 11px;
        transform: translateY(0px);
    }
}
/******************************************************************/
.navbar {
    padding-right: 216px;
    height: 65px;
}

.menu2 {
    display: none;
}

nav.acnav {
    margin-right: 0;
}

@media (max-width: 1000px) {
    .navbar {
        padding-right: 0px;
        margin-right: 0px;
    }

    .navbar-nav {
        padding: 0;
    }

        .navbar-nav .nav-item {
            margin: 0;
        }

        .navbar-nav .nav-link {
            padding: 10px 25px 10px;
        }

    .menu1 {
        display: none;
    }

    .menu2 {
        display: block;
    }
}

.acnav {
    width: 100%;
}

.acnav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.acnav__link, .acnav__label {
    display: block;
    font-size: 1rem;
    padding: 1em;
    margin: 0;
    cursor: pointer;
    color: #fcfcfc;
    background: #317589;
    box-shadow: inset 0 -1px #3988a0;
    transition: color 0.25s ease-in, background-color 0.25s ease-in;
}

    .acnav__link:focus, .acnav__link:hover, .acnav__label:focus, .acnav__label:hover {
        color: #e3e3e3;
        background: #2d6b7e;
    }

.acnav__link--level2, .acnav__label--level2 {
    padding-right: 3em;
    background: #2d6b7e;
}

    .acnav__link--level2:focus, .acnav__link--level2:hover, .acnav__label--level2:focus, .acnav__label--level2:hover {
        background: #296272;
    }

.acnav__link--level3, .acnav__label--level3 {
    padding-right: 5em;
    background: #296272;
}

    .acnav__link--level3:focus, .acnav__link--level3:hover, .acnav__label--level3:focus, .acnav__label--level3:hover {
        background: #255867;
    }

.acnav__link--level4, .acnav__label--level4 {
    padding-right: 7em;
    background: #255867;
}

    .acnav__link--level4:focus, .acnav__link--level4:hover, .acnav__label--level4:focus, .acnav__label--level4:hover {
        background: #214f5c;
    }

.acnav__list--level2, .acnav__list--level3, .acnav__list--level4 {
    display: none;
}

.is-open > .acnav__list--level2, .is-open > .acnav__list--level3, .is-open > .acnav__list--level4 {
    display: block;
}
/**/
.negative {
    display: none;
}

.has-children.is-open > .acnav__label .negative {
    display: block;
}

.has-children.is-open > .acnav__label .posetive {
    display: none;
}

.acnav__label {
    position: relative;
}

    .acnav__label .arrowItem {
        position: absolute;
        left: 0;
        top: 11px;
        color: white;
    }

.menu2 a {
    color: white;
}

.menu2 .nav-close {
    display: flex;
    justify-content: end;
}

.navbar-toggler.btn:hover {
    box-shadow: none;
}
/*  */
.download-list {
    margin-bottom: 30px;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    box-shadow: 0 0 7px 0 #eaeff4;
    padding: 25px;
}

    .download-list .download-item {
        border: 1px dashed #d7e0e9;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        position: relative;
        padding: 12px 15px;
        margin-bottom: 15px;
        display: flex;
    }

.download-item h2.view-Live {
    font-size: 15px;
    padding: 10px 17px 10px 0;
    margin-bottom: 4px;
}

.download-list .download-num {
    border: 2px solid #d7e0e9;
    width: 30px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #556167;
    position: absolute;
    right: -15px;
    top: 17px;
    background-color: #fff;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.show-download {
    border: 1px solid #b6e49c;
    color: #6fc341;
    font-size: 21px;
    line-height: 36px;
    width: 35px;
    height: 35px;
    margin-right: 8px;
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    margin-top: 4px;
}

    .show-download i {
        position: relative;
        left: 1px;
        top: 1px;
    }

    .show-download:hover {
        box-shadow: 0 0 6px 0 #b6e49c;
        -moz-box-shadow: 0 0 6px 0 #b6e49c;
        -webkit-box-shadow: 0 0 6px 0 #b6e49c;
        color: #6fc341;
    }

.course-time-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    margin-right: 8px;
    text-align: center;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    margin-top: 4px;
    background-color: #fff;
}

    .course-time-left span {
        border-left: 1px solid #edf1f4;
        padding-left: 10px;
        color: #8f9ca7;
    }
/*  */
.title-page {
    font-size: 20px;
    line-height: 35px;
    color: #1e2f38;
    margin-bottom: 0;
    font-weight: bold;
}

.breadcrumb {
    background: none;
}

.breadcrumb-item {
    position: relative;
}

    .breadcrumb-item + .breadcrumb-item::before {
        float: right;
    }

    .breadcrumb-item::before {
        position: absolute;
        right: 0;
    }

    .breadcrumb-item + .breadcrumb-item {
        padding-right: 1.5rem;
        padding-left: 0;
    }

    .breadcrumb-item a {
        color: #1e2f38;
    }

.sidebar-downloadPage {
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    box-shadow: 0 0 7px 0 #eaeff4;
    padding: 25px;
    margin-bottom: 30px;
}

.banner_dl-page {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* about us */
.step-wrapper {
    margin: 0 30px 100px;
    position: relative;
}

.linestep {
    text-align: center;
    max-width: 350px;
    position: absolute;
}

    .linestep .num {
        color: #fff;
        border-radius: 100px;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-weight: bold;
        background: #452DF8;
    }

    .linestep p {
        width: 350px;
        position: absolute;
        margin-top: 7px;
        font-weight: 500;
        line-height: normal;
        font-size: 15px;
    }

        .linestep p.top {
            bottom: 17px;
            left: -110px;
        }

        .linestep p.bottom {
            left: -110px;
        }

        .linestep p.left {
            width: 300px;
            right: 51px;
            top: -17px;
        }

        .linestep p.right {
            width: 350px;
            left: 34px;
            top: -17px;
        }

.linestep {
    visibility: hidden;
}

.path {
    visibility: hidden;
}

.move-line .path {
    visibility: visible;
    stroke-dasharray: 3700;
    stroke-dashoffset: 3700;
    animation: moveline 4s linear forwards;
}

.move-line .linestep {
    animation-name: show-step-item;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

.move-line .linestep1 {
    animation-delay: 0.4s;
}

.move-line .linestep2 {
    animation-delay: 0.8s;
}

.move-line .linestep3 {
    animation-delay: 1.2s;
}

.move-line .linestep4 {
    animation-delay: 1.6s;
}

.move-line .linestep5 {
    animation-delay: 2s;
}

.move-line .linestep6 {
    animation-delay: 2.4s;
}

.move-line .linestep7 {
    animation-delay: 2.8s;
}

.move-line .linestep8 {
    animation-delay: 3.2s;
}

.step-wrapper svg {
    /* height: 470px; */
}

@keyframes show-step-item {
    from {
        transform: scale(0.2);
        opacity: 0;
    }

    to {
        visibility: visible;
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes moveline {
    to {
        stroke-dashoffset: 0;
    }
}

.breadcrumb {
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 15px;
}

@media screen and (max-width:1100px) {

    .linestep1 .bottom {
        top: -60px;
    }

    .step-wrapper {
        margin-top: 80px;
    }

    .linestep p.top {
        left: -210px;
    }
}

@media screen and (max-width:991px) {

    .about-page {
        margin-top: 80px;
    }

    .linestep1 p.bottom {
        top: -76px;
    }

    .linestep p {
        width: 250px;
        font-size: 14px;
    }

        .linestep p.top {
            bottom: 28px;
        }

        .linestep p.bottom {
        }

        .linestep p.left {
            width: 200px;
        }

        .linestep p.right {
            width: 250px;
        }
}

.step-wrapper2 {
    display: none;
}

@media screen and (max-width:768px) {
    .step-wrapper {
        display: none;
    }

    .step-wrapper2 {
        display: block;
        margin-top: 10px;
    }

        .step-wrapper2 ul {
            padding: 0;
        }

            .step-wrapper2 ul li {
                display: flex;
                flex-flow: row-reverse;
            }

                .step-wrapper2 ul li span {
                    float: right;
                    color: #fff;
                    border-radius: 100px;
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    text-align: center;
                    line-height: 40px;
                    font-weight: bold;
                    background: #452DF8;
                }

                .step-wrapper2 ul li p {
                    width: calc(100% - 40px);
                    padding-right: 15px;
                }
}
/* .linestep1 .num{
  position: relative;
}
.linestep1 .num::before{
  position: absolute;
  content: "\f053";
  right: 84px;
  font: normal normal normal 29px/1 FontAwesome;
    font-size: 29px;
  font-size: inherit;
  text-rendering: auto;
  color: #452df8;
  top: 12px;
  font-size: 20px;
}
.linestep6 .num{
  position: relative;
}
.linestep6 .num::before{
  position: absolute;
content: "\f053";
left: 184px;
font: normal normal normal 29px/1 FontAwesome;
  font-size: 29px;
font-size: 29px;
font-size: inherit;
text-rendering: auto;
color: #452df8;
top: 15px;
font-size: 20px;
} */

/* contact us */
.contact-information {
    padding-top: 55px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    background: url(../img/index.png);
    background-color: rgba(0, 0, 0, 0);
    background-color: var(--first-color);
}

    .contact-information .title {
        font-size: 18px;
        font-weight: bold;
        color: white;
        margin-bottom: 55px;
        text-transform: uppercase;
    }

    .contact-information .contact-information-address ul li {
        display: flex;
        align-items: center;
        margin-bottom: 32px;
        color: white;
        font-size: 15px;
    }

        .contact-information .contact-information-address ul li a {
            color: white;
        }

        .contact-information .contact-information-address ul li i {
            color: white;
            margin-left: 15px;
            width: 20px;
        }

        .contact-information .contact-information-address ul li .fa-map-marker {
            font-size: 32px;
        }

        .contact-information .contact-information-address ul li .fa-phone {
            font-size: 25px;
        }

        .contact-information .contact-information-address ul li .fa-envelope {
            font-size: 20px;
        }

.contact-us-socials {
    display: flex;
    justify-content: center;
}

    .contact-us-socials li {
        display: inline-block;
        width: 45px;
        text-align: center;
    }

        .contact-us-socials li a {
            display: inline-block;
            text-align: center;
            transition: 00.6s;
        }

            .contact-us-socials li a:hover i {
                color: #f00;
                transition: 00.6s;
            }

        .contact-us-socials li i {
            color: white;
            font-size: 27px;
        }

.contact-form-message {
    padding-top: 55px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
}

    .contact-form-message .title {
        font-size: 18px;
        font-weight: bold;
        color: #222;
        margin-bottom: 55px;
        text-transform: uppercase;
    }

.form-contact {
    -webkit-box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    -moz-box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    box-shadow: 0 0 12px 0 rgba(2, 2, 2, 0.16);
    border-radius: 0;
    margin-top: 20px;
    margin-bottom: 50px;
}

    .form-contact .btn-submit {
        background-color: var(--first-color);
        color: white;
    }

.contact-form-message .form-group label span {
    color: #f00;
}

.contact-information {
    padding-top: 55px;
    padding-right: 45px;
    padding-bottom: 45px;
    padding-left: 45px;
    display: flex;
    flex-direction: column;
    background-color: #317589;
}

.btn-submit2 {
    background-color: #317589;
    color: white;
    width: 100%;
    margin-bottom: 20px;
}
