@model IEnumerable<ALO.DomainClasses.Entity.Content.tbl_SocialNetworks>
@{
}

<div class="mt-auto">
    <ul class="contact-us-socials">
        @foreach (var item in Model)
        {
        <li>
            <a href="@Url.Content(item.Url)" class="social-item" target="_blank">
                <i class="icon @item.Icon"></i>
            </a>
        </li>
        }
    </ul>
</div>

