@model IEnumerable<ALO.DomainClasses.Entity.Content.tbl_SocialNetworks>
@{
}

<div class="col-12 mt-3 text-center">
    @foreach (var item in Model)
    {
        <a href="@Url.Content(item.Url)">
            <i style="font-size:40px ; margin-left: 20px; color:#a3a3a3" class="@item.Icon"></i>
        </a>
    }
</div>