@model IEnumerable<ALO.DomainClasses.Entity.Product.tbl_Brands>


<section class="blog-posts">
    <div class="swiper slick-list-swiper">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="box">
                        <a href="/Search?brandIds=@item.Id">
                            <img src="@item.Logo.BindImage(Configuration)" alt="@item.Name">
                        </a>
                    </div>
                </div>
            }
        </div>
        <div class="next-slider">
            <img src="~/assets/images/public/next-right-gray.svg" alt="">
        </div>
        <div class="prev-slider">
            <img src="~/assets/images/public/prev-left-gray.svg" alt="">
        </div>
    </div>
</section>