@model int
@{
}

<a href="/checkout/basket" style="position:relative ;">
    <i class="fa-light fa-cart-shopping" style="font-size:20px ;"></i><span style="position: absolute;top:-17px;right:-11px ;">(@Model)</span>
</a>