@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<ALO.ViewModels.Product.ProductListForHomeDto>
@{
}

<section class="our-products">
    <h2 class="title-section">
        @ViewData["HeaderTitle"]
    </h2>
    <div class="swiper product-swiper">
        <div class="swiper-wrapper">

            @foreach (var item2 in Model)
            {
                <div class="swiper-slide">
                    @await Html.PartialAsync("~/Components/Product/ProductItem/Item.cshtml", item2)

                </div>
            }
        </div>
        <div class="next-slider">
            <img src="assets/images/public/next-right-gray.svg" alt="">
        </div>
        <div class="prev-slider">
            <img src="assets/images/public/prev-left-gray.svg" alt="">
        </div>
    </div>
</section>
