@page
@model IndexModel
@{
    Layout = "~/Pages/Profile/Shared/_Layout.cshtml";
}
<div class="profile_status">
    <div class="profile_status">
        <div class="heade-status" style="justify-content:space-between">
            <h5>کیف پول</h5>
            <div class="wallet-balance">موجودی کیف پول شما :@Model.Wallet.Cost.ToString("n0") تومان</div>
        </div>
        <div class="edit-profile-form">
            <p>
                مبلغ شارژ به تومان می باشد و توجه داشته باشید که مبلغ پرداختی به هیچ عنوان قابل استرداد نمی باشد
            </p>
            <form method="post">
                <label for="mob">مبلغ مورد نظر<span class="necessary">*</span></label>
                <div class="row">
                    <div class="col-lg-6 col-sm-8 form-group">
                        <input type="text" class="form-control" name="Cost" placeholder="مبلغ...">
                    </div>
                    <div class="col-lg-6 col-sm-4">
                        <button class="btn btn-default px-3 py-2" type="submit">شارژ کیف پول</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="table_orders table-responsive">
    <div class="heade-status">
        <h5>تراکنش ها</h5>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>مبغ </th>
                <th>تاریخ</th>
                <th>وضعیت </th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
            }
            @foreach (var item in Model.Wallet.WalletHistories.OrderByDescending(h=>h.Id))
            {
                <tr>
                    <td>@i</td>
                    <td>@item.Cost.ToString("n0") تومان</td>
                    <td>@item.CreatedDate.ConvertToPesainDate()</td>
                    <td>پرداخت شده</td>

                </tr>
                i = i + 1;
            }
        </tbody>
    </table>
</div>