<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <partial name="_SeoPartial" model="@ViewData["Seo"]" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.amirprinter.ir/font-awesome/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.css" integrity="sha512-jxGmKjC/OykrTklkNK2NgnhNtKtUAADFY+rvSi3nA7dbaPRfjrSXYxHqX8iq5N6WTOntqEQZrEwW3L84sirfKQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ghaleb.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        @*        <div class="row top-header border-bottom bg-white">
        <div class="col-12 col-lg-2 align-items-center d-lg-none d-md-flex">
        <button class="btn btn-menu" (click)="openMenu()">
        <i (click)="openMenu()"
        class="fas fa-bars icon" style="font-size:24px ;"></i>
        </button>
        </div>
        </div>*@
        <div class="row justify-content-center align-items-center h-100 bg-white">
            <div class="col-12 col-lg-11 mx-auto">
                <div class="row mt-2 d-flex justify-content-center align-items-center">
                    <div class="col-lg-2 col-12 ">
                        <a href="/">
                            <img class="img-fluid" src="https://amir-printer.com/assets/images/logo.png"
                                 style="width:99px ;" alt="امیرپرینتر">
                        </a>
                    </div>
                    <form method="get" asp-page="Search" class="col-lg-6 col-12 mt-3 mt-md-0 top-search-input" style="position:relative ; border-radius:15px;height:47px">
                        <input class="form-control "
                               placeholder="کالای مورد نظر را جستجو کنید..." name="q" id="search-input">
                               
                        <ul id="search-items" style="position: absolute;
    width: 100%;
    right: 0;
    max-height: 300px;
    z-index: 99;
    top: 36px;
    overflow-y: scroll;
    border-radius: 0px 0px 10px 10px;
    background: #f3f3f3;">
                            <li></li>
                        </ul>
                        @*                <ul class="bg-white" style="box-shadow: 0px 2px 10px #ebebeb;
                        position: absolute;
                        width: 100%;
                        z-index: 999;
                        overflow-y: scroll;
                        max-height: 300px;">

                        <li class="border-bottom" *ngFor="let item of data" style="padding:
                        20px;">
                        <a class="d-flex align-items-center" href="" target="_blank"
                        [routerLink]="['/product/'+item.id+'/'+item.url]">
                        <img [src]="item.image" style="width:75px ;">
                        <div style="margin-right:10px ;">
                        {{item.title}}
                        <br>
                        دسته : {{item.category.title}}
                        </div>
                        </a>

                        </li>*@

                        </ul>
                    </form>
                    <div class="col-12 col-lg-4 mt-3">
                        <div class="row d-flex justify-content-center">
                            <div class="col-12 col-lg-12 col-xl-6">
                                <div class="row">

                                    <div class="col-6 col-lg-8">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="" [routerLink]="['dashboard']" style="border-radius: 25px;
border-radius: 25px;
border: 1px solid #e3e3e3;
padding-top: 17px;
padding-bottom: 17px;
text-align: center;
color: #8f8f8f;
align-items: center;
display: flex;
justify-content: center;
" *ngIf="isLogin">
                                                <i class="fa-regular fa-user" style="font-size:18px
;margin-left:5px ;"></i>
                                                @User.Identity.Name
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="/account/login" style="border-radius: 25px;
border-radius: 25px;
border: 1px solid #e3e3e3;
padding-top: 17px;
padding-bottom: 17px;
text-align: center;
color: #8f8f8f;
align-items: center;
display: flex;
justify-content: center;
" *ngIf="!isLogin">
                                                <i class="fa-regular fa-user" style="font-size:18px
  ;margin-left:5px ;"></i>
                                                ورود به حساب کاربری
                                            </a>
                                        }


                                    </div>
                                    <div style="color: #8f8f8f;" class="col-6 col-lg-2 d-flex align-items-center
              justify-content-center">
                                    @await Component.InvokeAsync("TopBasket")
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-12 mx-auto">
                        <div class="row align-items-center">
                            @await Component.InvokeAsync("TopMenu",new{routeName="top-menu"})


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-bottom bg-white">
        </div>
        <div class="row">

            <nav class="navbar navbar-expand-lg navbar-light p-0
      border-bottom" style="background-color: #ffff;">
                <div class="container-fluid">
                    <div class="collapse navbar-collapse row" id="navbarSupportedContent">
                        <div class="col-12">


                            @await Component.InvokeAsync("TopCategory")
                        </div>
                        @*<app-top-catrgory class="col-12"></app-top-catrgory>*@

                    </div>
                </div>
            </nav>
        </div>
        <main class="main row">

            @RenderBody()
        </main>

        <footer class="row mt-5 bg-white" style="padding: 20px 0;border-top: 1px solid #ebebeb;">
            <div class="col-12 col-xl-4">

                @await Component.InvokeAsync("FooterAbout",new {routeName="footer-about"})

                <div class="col-12 mt-4 d-flex justify-content-center">
                    <a referrerpolicy="origin" target="_blank"
                       href="https://trustseal.enamad.ir/?id=313465&amp;Code=EWG11XOUtyAW81zxS2GI">
                        <img referrerpolicy="origin"
                             src="https://Trustseal.eNamad.ir/logo.aspx?id=313465&amp;Code=EWG11XOUtyAW81zxS2GI"
                             alt="" style="cursor:pointer;
    width: 89px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    border-radius: 5px;" id="EWG11XOUtyAW81zxS2GI">
                    </a>
                    <img referrerpolicy='origin' id='rgvjnbqejxlzjxlzfukzfukz' style='cursor: pointer;
    width: 89px;
    border: 1px solid #e3e3e3;
    padding: 10px;
    border-radius: 5px;'
                         onclick='window.open("https://logo.samandehi.ir/Verify.aspx?id=321166&p=xlaouiwkrfthrfthgvkagvka",
              "Popup"," toolbar=no, scrollbars=no, location=no,statusbar=no,menubar=no, resizable=0, width=450, height=630,top=30")'
                         alt='logo-samandehi' src='https://logo.samandehi.ir/logo.aspx?id=321166&p=qftiodrfnbpdnbpdwlbqwlbq' />
                    <br>
                    <h1 class="h6 d-block">تلفن پشتیبانی : 88842746</h1>
                </div>
            </div>
            <div class="col-12 col-xl-4">
                <h1 class="h6" style="font-weight: bold;">
                    لینک های مرتبط
                </h1>
                <a style="display: block;">شرایط استفاده</a>
                <a style="display: block;">حریم خصوصی</a>
                <a style="display: block;">گزارش باگ</a>
                <a style="display: block;">شیوه های پرداخت</a>
            </div>
            <div class="col-12 col-xl-4">
                <h1 class="h6" style="font-weight: bold;">
                    آدرس امیرپرینتر روی نقشه
                </h1>
                <iframe class="mt-4" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1619.952097901455!2d51.42489090823057!3d35.7039751196723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf10404c8c2d7dd90!2zMzXCsDQyJzE0LjIiTiA1McKwMjUnMzMuMCJF!5e0!3m2!1sen!2suk!4v1670938795389!5m2!1sen!2suk" height="400" style="border:0;width: 100%;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="col-12">
                <div class="row">

                    @await Component.InvokeAsync("SocialNetworks")
                    <div class="col-8 text-center mb-5 mt-3">
                        همه روزه حتی ایام تعطیل 24 ساعته با شما
                    </div>

                    <div class="col-12 middlefooter text-white"
                         style="background-color:#0046bf ;">
                        <div class="row">
                            <div class="col-10 mx-auto">
@await Component.InvokeAsync("FooterMenu",new {routeName="footer-menu"})
                            </div>
                        </div>
                    </div>

                    <div class="col-12 bottomfooter">
                        <div class="row">
                            <div class="col-8 text-center mt-3 mx-auto">
                                © 2022 All Right Reserved
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="mobile-menu" [ngClass]="{'show':isOpen}">
        <div class="row">
            <div class="col-12 mt-5 d-flex justify-content-center">
                <img class="img-fluid" src="assets/images/logo.png"
                     style="width:115px ;">
            </div>
            <div>
            </div>
            <div class="col-8 mx-auto mt-5">
                <div class="row border-bottom">
                    <a class="col-12 mb-4" style="font-size: 15px;"
                       [routerLink]="[item.link]" *ngFor="let item of
          filterLinks(links,'top-menu')">{{item.title}}</a>
                </div>
                <div class="row mt-4">
                    <h6>دسته بندی کالا</h6>
                </div>
            </div>
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/8.4.5/swiper-bundle.min.js" integrity="sha512-wdUM0BxMyMC/Yem1RWDiIiXA6ssXMoxypihVEwxDc+ftznGeRu4s9Fmxl8PthpxOh5CQ0eqjqw1Q8ScgNA1moQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $("#search-input").keyup(function() {
            $("#search-items").children().remove();
            $.ajax({
                url: "https://api.amirprinter.ir/api/Product/Search?name=" + $(this).val(),
                method: "GET"
            }).done(function(res) {
                console.log(res);
                res.model.map(x => {
                    $("#search-items").append("<li style='padding:20px'><a href=/Product/" + x.id + "/" + x.url + "><img style='width:75px;margin-left:5px' src=" + x.image + ">" + x.title + "</a></li>");
                });
            });
        });

    </script>
</body>
</html>