@page
@model Ghaleb.Web.Pages._LoadProductPriceModel
@{
    Layout = null;
}
@if (Model.Price.Inventory > 0)
{
    <form method="post" class="col-12" *ngIf="price?.inventory>0">
        <div class="row">


            <hr class="col-10 mx-auto">
            <h6 class="col-5" style="color: #8b8b8b;">
                قیمت
                اصلی
                :
            </h6>
            @if (Model.Price.DiscountPrice != null)
            {
                <div class="text-center mt-3" *ngIf="price?.discount
                                !=null">
                    <s style="color: rgb(182, 182, 182);">
                        @Model.Price.Price.ToString("n0").toPersianNumber() تومان
                    </s>
                    <br>
                    <label style="font-size:15px ;">
                        @Model.Price.DiscountPrice.GetValueOrDefault().ToString("n0") تومان
                    </label>

                </div>
            }
            else
            {
                <div class="text-center mt-3" style="font-size:15px
                                ;">
                    @Model.Price.Price.ToString("n0").toPersianNumber() تومان
                </div>
            }
            <div class="col-12 mt-1">
                <button asp-page-handler="AddToBasket" asp-route-id="@Model.Price.Id" as class="btn btn-danger col-12 p-3"
                    (click)="AddToBasket(price?.id)">
                    افزودن
                    به سبد
                    خرید
                </button>
            </div>
        </div>
    </form>
}
else
{
    <div *ngIf="price?.inventory==0">

        <div class="col-12 mt-1">
            <button class="btn btn-dark col-12 p-3"
                style="font-size:15px ;">
                ناموجود
            </button>
        </div>

    </div>
}