@page
@model Ghaleb.Web.Pages.AboutUsModel
@{
}
<div class="container about-page">
    <div class="position-relative">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">درباره ما</li>
            </ol>
        </nav>
        <div class="title-page"><strong>درباره ما</strong></div>
    </div>
    <div class="row mb-60">
        <div class="col-md-6">
            <div class="elementor-wrapper">
                <video controls="" width="100%" height="" poster="~/assets/img/10.png">
                    <source src="movie.mp4" type="video/mp4">
                    <source src="movie.ogg" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
        </div>
        <div class="col-md-6">
            <div class="">
                <h5 class="title">
                    درباره من
                </h5>
                <p>
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
                </p>
                <b class="created-by">
                    ارائه شده توسط سپیده قوی در در سال 1401
                </b>
            </div>
        </div>
    </div>
    <div class="row mb-60 form-where">
        <div class="col-md-6">
            <h5 class="title">
                از کجا شروع شد؟
            </h5>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.
            </p>
        </div>
        <div class="col-md-6">
            <div class="">
                <img src="./assets/img/cms-banner-1.jpg" class="img-fluid w-100" alt="">
            </div>
        </div>
    </div>
    <div class="row mb-60">
        <div class="col-md-6">
            <div class="">
                <img src="./assets/img/cms-banner-2.jpg" class="img-fluid w-100" alt="">
            </div>
        </div>
        <div class="col-md-6">
            <h5 class="title">
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
            </h5>
            <p>
                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و
                متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و
                کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده.
            </p>
        </div>
    </div>
    <div class="target-box">
        <h5 class="text-center title">
            هدف ما
        </h5>
        <p class="mb-3">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون
            بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز.
        </p>
        <div class="">
            <img src="./assets/img/cms-banner-3.jpg" class="img-fluid w-100" alt="">
        </div>

    </div>
</div>