@page
@model Ghaleb.Web.Pages.FaqModel
@{
    ViewData["Seo"] = new
    {
        PageTitle = Model.Seo.Title,
        MetaKeyword = Model.Seo.MetaKeyword,
        MetaDescription = Model.Seo.MetaDescription,
        DoIndex = true
    };
}
<style>

    .accordion-button::after {
        margin-left: 0;
    }
</style>
@*@await Component.InvokeAsync("BreadCrumps",Model.Seo)*@
<div class="container mt-5">
    <div class="position-relative">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                <li class="breadcrumb-item active" aria-current="page">سوالات متداول</li>
            </ol>
        </nav>
        <div class="title-page"><strong>سوالات متداول</strong></div>
    </div>
    <div class="col-lg-10 m-auto faq-page">
        <div class="panel-group" id="accordionGroupOpen" role="tablist" aria-multiselectable="true">
            @foreach (var item in Model.Faqs)
            {
                <div class="panel panel-default">
                    <button class="panel-heading btn" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordionGroupOpen"
                               href="#collapseOpenOne-@item.Id" aria-expanded="true" aria-controls="collapseOpenOne-@item.Id">
                                @item.Question
                            </a>
                        </h4>
                    </button>
                    <div id="collapseOpenOne-@item.Id" class="panel-collapse collapse show" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            <p>
                              @item.Answer
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>