@page
@using ALO.DomainClasses.EntityHelpers
@model IndexModel
@{
    if (Model.Seo != null)
    {
        ViewData["Seo"] = new
        {
            PageTitle = Model.Seo.PageTitle,
            MetaKeyword = Model.Seo.MetaKeyword,
            MetaDescription = Model.Seo.MetaDescription,
            DoIndex = true
        };
    }
}

@await Component.InvokeAsync("SlideShow")


<div class="col-12 col-lg-11 mx-auto">

    <partial name="~/Components/Product/ProductRow/Row.cshtml" model="Model.HasDiscounts" view-data='@new ViewDataDictionary(ViewData) { {"HeaderTitle", "دارای تخفیف " }}' />
    @foreach (var item in Model.SubCategoryProducts.Where(x => x.Products.Any()))
    {
        <partial name="~/Components/Product/ProductRow/Row.cshtml" model="item.Products" view-data='@new ViewDataDictionary(ViewData) {
{"HeaderTitle", "تازه های "+item.Title },
{"SubCategoryId",item.Id},
{"SubCategoryUrl",item.Url}
}' />
    }
    @foreach (var item in Model.CategoryProducts.Where(x => x.Products.Any()))
    {
        <partial name="~/Components/Product/ProductRow/Row.cshtml" model="item.Products" view-data='@new ViewDataDictionary(ViewData) {
{"HeaderTitle", "جدید ترین "+item.Title },
{"SubCategoryId",item.Id},
{"SubCategoryUrl",item.Url}
}' />
    }

@*    <div class="row mt-5 mb-5">
        @{
            var whyus = Model.Blocks.Where(x => x.RouteName == "why-us").FirstOrDefault();
        }
        <div class="col-12 col-lg-6">
            <h4 style="font-weight: 900; text-align: right;">@whyus?.Name</h4>
            <div>
                @Html.Raw(whyus?.Description)
            </div>
        </div>
        @{
            var repair = Model.Blocks.Where(x => x.RouteName == "/repair").FirstOrDefault();
        }
        @if (repair != null)
        {

            <div class="col-12 col-lg-6">
                <a href="@Url.Content(repair?.Link)">
                    <img src="@repair?.Image.BindImage(Configuration)" style="border-radius:10px;width:644px" class="img-fluid" alt="@repair?.Name">
                </a>
            </div>
        }

    </div>*@

    <partial name="~/Components/Product/ProductRow/Row.cshtml" model="Model.MoreSell" view-data='@new ViewDataDictionary(ViewData) { {"HeaderTitle", "پرفروش ترین ها" }}' />

    @if (User.Identity.IsAuthenticated)
    {
        <partial name="~/Components/Product/ProductRow/Row.cshtml" model="Model.YourVisits" view-data='@new ViewDataDictionary(ViewData) { {"HeaderTitle", "براساس بازید های شما " }}' />
    }

@*    @await Component.InvokeAsync("Brand")

    @await Component.InvokeAsync("Blog")*@


</div>
@*    <div class="col-12" style="background: #3d9ff3;
    color: #fff;
    font-size: 16px;
    text-shadow: 1px 1px 14px #343434;
    font-weight: bolder;">
        <div class="container">
            <div class="row" style="min-height: 150px; display: flex;align-items: center;">
                <div class="col-12 col-xl-6">
                    <i class="fa-light fa-location-dot"></i> {{data?.contactus?.address}}
                    <br>
                    <br>
                    شنبه - چهارشنبه: 8 الی 18 / پنجشنبه: 8 الی 14
                </div>
                <div class="col-12 col-xl-6">
                    تلفن تماس : {{data?.contactus?.phone}}
                    <br>
                    <br>

                </div>
            </div>
        </div>
    </div>*@
