@model IEnumerable<ALO.DomainClasses.Entity.LinkManagement.tbl_LinkManagement>
@{
}



<div class="row d-flex justify-content-center text-center">
    @foreach (var item in Model)
    {
        <a class="col-6 col-sm-2 p-4" href="@Url.Content(item.Link)">@item.Title</a>
    }
</div>

