@model IEnumerable<ALO.DomainClasses.Entity.Content.tbl_SocialNetworks>
@{
}
@if (Model != null)
{

    <div class="social-links">
        @foreach (var item in Model)
        {
            <a href="@Url.Content(item.Url)" class="content">
                <i class="@item.Icon"></i>
            </a>

        }
    </div>
}