

<footer>
    <div class="gmail-sub">
        <i class="fa fa-envelope"></i>
        <form action="">
            <input type="text" name="email" id="email" autocomplete="off">
            <label for="email">
                <button type="submit">
                    عضویت
                </button>
            </label>
        </form>
    </div>
    @await Component.InvokeAsync("FooterContactUs")


    @await Component.InvokeAsync("FooterMenu",new {routeName="footer-menu"})



    @await Component.InvokeAsync("FooterSocialMedia")

</footer>
