@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ghaleb.API

@model ALO.ViewModels.Blog.Admin.RequestBlogDTO


@{
    ViewData["Title"] = "افزودن محصول";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/AdminTemplate/assets/js/ui-helpers.js"></script>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">مشخصات</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#content" role="tab" aria-controls="profile" aria-selected="false">توضیحات</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="contact" aria-selected="false">تنظیمات سئو</a>
    </li>
</ul>
<form id="frmValues">
    <input asp-for="Id" hidden />
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="form-group col-6">
                    <label>نوع پست</label>
                    <select name="BlogTypeId" id="BlogTypeId" asp-items="ViewBag.BlogType" class="form-control">
                        <option value="">انتخاب نمایید</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label asp-for="BlogCategoryId"></label>
                    <select asp-for="BlogCategoryId" asp-items="ViewBag.Categories" class="form-control">
                        <option value="">ابتدا نوع پست را انتخاب نمایید</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Title"></label>
                    <input class="form-control" type="text" asp-for="Title" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="ImageId"></label>
                    <image-upload Id="img" For="ImageId"></image-upload>
                </div>

                <div class="form-group col-6">
                    <label asp-for="Abstract"></label>
                    <textarea rows="8" class="form-control" type="text" asp-for="Abstract"></textarea>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="profile-tab">
            <textarea id="editor1" name="Description" asp-for="Description"></textarea>
        </div>
        <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Url"></label>
                    <input class="form-control" type="text" asp-for="Url" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="PageTitle"></label>
                    <input class="form-control" type="text" asp-for="PageTitle" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="MetaKeyword"></label>
                    <select asp-for="MetaKeyword" class="form-control" asp-items="new SelectList(Model.MetaKeyword)" multiple="multiple"></select>
                </div>
                <div class="form-group col-6">
                    <label asp-for="MetaDescription"></label>
                    <textarea class="form-control" rows="8" type="text" asp-for="MetaDescription"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-3 form-group">
            <button class="btn btn-primary" id="btnSave" type="submit">ذخیره</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">بیخیال</button>
        </div>
    </div>

</form>
@section Scripts {
    <script src="~/lib/select2/dist/js/select2.min.js"></script>

    <script>
        $("#MetaKeyword").select2({
            tags: true
        });
    </script>
    <script src="https://cdn.ckeditor.com/4.16.1/full-all/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor1', {
            filebrowserUploadUrl: '/Admin/Upload/UploadImageFromCk'
        });
    </script>
    <script>

        $("#btnSave").click(function (e) {

            e.preventDefault();
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
            $.ajax({
                url: "@Url.Action("Edit")",
                method: "POST",
                data: $("#frmValues").serialize(),

            }).done(function (result) {
                if (result.status == 0) {
                    Swal.fire(
                        'تبریک !',
                        result.message,
                        'success'
                    )
                    $('#exampleModal').modal('hide');
                }
                else {
                    Swal.fire(
                        'خطا',
                        result.message,
                        'danger'
                    )
                }

            }).fail(function () {


            });
        });
    </script>
    <script>
        $("#BlogTypeId").change(function () {
            $.ajax({
                url: "@Url.Action("GetByType", "BlogCategory")",
                method: "GET",
                data: {
                    id: $(this).val()
                }

            }).done(function (res) {

                $("#BlogCategoryId").find("option").remove();
                $("#BlogCategoryId").append("<option value=''>انتخاب نمایید</option>");
                console.log(res);
                for (var i = 0; i < res.length; i++) {
                    $("#BlogCategoryId").append("<option value='" + res[i].id + "'>" + res[i].title + "</option>");

                }

            });

        });
    </script>
}
