@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ghaleb.API

@model ALO.DomainClasses.Entity.Product.tbl_Brands
@{
    ViewData["Title"] = "افزودن برند";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" asp-action="Index">بازگشت به لیست</a>
    </div>
</div>
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">مشخصات</a>
    </li>
@*    <li class="nav-item" role="presentation">
        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#seo" role="tab" aria-controls="contact" aria-selected="false">تنظیمات سئو</a>
    </li>*@
</ul>
<form id="frmValues">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="MainProductCategoryId"></label>
                    <select asp-for="MainProductCategoryId" asp-items="ViewBag.Categories" class="form-control">
                        <option value="">انتخاب نمایید</option>
                    </select>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Name"></label>
                    <input class="form-control" type="text" asp-for="Name" />
                </div>
                                                <div class="form-group col-6">
                    <label asp-for="Description"></label>
                    <textarea class="form-control" asp-for="Description" rows="8"></textarea>
                </div>
                <div class="form-group col-6">
                    <label asp-for="LogoId"></label>
                    <image-upload Id="img" For="LogoId"></image-upload>
                </div>
@*        <div class="tab-pane fade" id="seo" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Url"></label>
                    <input class="form-control" type="text" asp-for="Url" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="PageTitle"></label>
                    <input class="form-control" type="text" asp-for="PageTitle" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="MetaKeyword"></label>
                    <input class="form-control" type="text" asp-for="MetaKeyword" />
                </div>
                <div class="form-group col-6">
                    <label asp-for="MetaDescription"></label>
                    <textarea class="form-control" rows="8" type="text" asp-for="MetaDescription"></textarea>
                </div>
            </div>*@
        </div>
    </div>
    <div class="row">
        <div class="col-3 form-group">
            <button class="btn btn-primary" id="btnSave" type="button">ذخیره</button>
            <button class="btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">بیخیال</button>
        </div>
    </div>

</form>
@section Scripts{
    <script src="https://cdn.ckeditor.com/4.16.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor1');
    </script>
    <script>

    $("#btnSave").click(function (e) {

        e.preventDefault();
        for (instance in CKEDITOR.instances) {
            CKEDITOR.instances[instance].updateElement();
        }
        $.ajax({
            url: "@Url.Action("Create")",
            method: "POST",
            data: $("#frmValues").serialize()

        }).done(function (result) {
            if (result.status == 0) {
                Swal.fire(
                    'تبریک !',
                    result.message,
                    'success'
                )
            }

        }).fail(function () {


        });
    });
    </script>
}