@page
@model Ghaleb.Web.Pages.Account.LoginModel
@{
}
<div class="container-fluid bg">
    <div class="row box  p-5" style="    height: 100vh;
    display: flex;
    align-items: center;">
        <div class="col-12 bg-white col-sm-3 mx-auto" style="    border: 1px solid #e7e7e7;
        border-radius: 5px;
        padding: 82px;">
            <h4 class="text-center">وارد حساب کاربری خود شوید</h4>

            <form method="post" class="row mt-5" (submit)="Login($event)">

                <div class="col-12 form-group mt-2">
                    <input name="username" class="form-control" value=""
                        placeholder="ایمیل خود را وارد نمایید">
                </div>

                <div class="col-12 form-group mt-4">
                    <input name="password" class="form-control" type="password"
                        value="" placeholder="رمز عبور">
                </div>
                <div class="col-12 form-group mt-4">
                    <button type="submit" class="btn btn-danger col-12" style="padding: 11px;
                    border-radius: 25px;">ورود</button>
                </div>
                <span class="text-danger mt-2">               @Model.Message</span>
                <div class="col-12 form-group mt-4 d-flex
                    justify-content-between">
                    <a href="" [routerLink]="['/register']">ثبت نام کن</a>
                    <a href="" [routerLink]="['/forget']">رمز عبور را فراموش
                        کردم</a>
                </div>
 
            </form>

        </div>
    </div>
</div>