@page
@model Ghaleb.Web.Pages.Account.LoginModel
@{
}

<div class="container">
    <div class="col-lg-6 m-auto">
        <div class="form-login">
            <img src="~/assets/img/logo.png" class="img-fluid logo-login" alt="">
            <h5 class="title-login">ورود / عضویت</h5>
            <form method="post">
                <div class="form-group">
                    <label for="mob">شماره تلفن</label>
                    <input type="text" class="form-control" name="username" value="" placeholder="09123456789" id="mob">
                </div>
                <div class="form-group">
                    <label for="pwd">رمز عبور</label>
                    <input type="password" name="password" value="" class="form-control" placeholder="" id="pwd">
                </div>
                <button type="submit" class="btn btn-default ">ورود</button>
                <span class="text-danger mt-2">               @Model.Message</span>
            </form>
            <div class="text-caption">
                <a href="register">
                    ثبت نام در سایت
                </a>
                |
                <a href="forget">
                    فراموشی رمز
                </a>
            </div>
        </div>
    </div>
</div>