@page
@model Ghaleb.Web.Pages.Account.RegisterModel
@{
}
<div class="container-fluid">
    <div class="row box p-1 d-flex align-items-center" style="height:100vh">
        <div class="col-12 bg-white col-lg-5 col-xl-3 mx-auto rounded border p-3">
            <h4 class="text-center">یک حساب کاربری  برای خودت بساز</h4>

            <form class="row mt-5" method="post">

                <div class="col-12 form-group mt-4">
                    <input asp-for="model.FirstName" class="form-control"
                           placeholder="نام">
                    <span asp-validation-for="model.FirstName" class="text-danger"></span>
                </div>
                <div class="col-12 form-group mt-4">
                    <input asp-for="model.LastName" class="form-control"
                           placeholder="نام خانوادگی">
                    <span asp-validation-for="model.LastName" class="text-danger"></span>
                </div>
                <div class="col-12 form-group mt-4">
                    <input asp-for="model.Mobile" class="form-control"
                           placeholder="موبایل">
                    <span asp-validation-for="model.Mobile" class="text-danger"></span>
                </div>
                <div class="col-12 form-group mt-4">
                    <input asp-for="model.Email" class="form-control"
                           placeholder="ایمیل">
                    <span asp-validation-for="model.Email" class="text-danger"></span>
                </div>

                <div class="col-12 form-group mt-4">
                    <input asp-for="model.Password" class="form-control" type="password"
                           placeholder="رمز عبور">
                    <span asp-validation-for="model.Password" class="text-danger"></span>

                </div>
                <div class="col-12 form-group mt-4">
                    <input asp-for="model.ConfirmPassword" class="form-control" type="password"
                           placeholder="تکرار رمز عبور">
                    <span asp-validation-for="model.ConfirmPassword" class="text-danger"></span>
                </div>
                                <recaptcha />
                <div class="col-12 form-group mt-4">
                    <button type="submit" class="btn btn-danger col-12" style="padding: 11px;
                    border-radius: 25px;">
                        ساخت حساب کاربری
                    </button>
                </div>
                <div class="col-12 form-group mt-4 d-flex
                    justify-content-between">
                    <a asp-page="login">حساب کاربری دارم</a>
                </div>
            </form>

        </div>
    </div>
</div>
@section scripts{
   <partial name="_ValidationScriptsPartial" />
}