@model IEnumerable<ALO.DomainClasses.Entity.Blog.tbl_Blog>
@{
}

@if (Model.Any())
{
    <section class="blog-posts">
        <h2 class="title-section">
            از وبلاگ
        </h2>
        <div class="swiper blog-swiper">
            <div class="swiper-wrapper">
                @foreach (var item in Model)
                {

                    <div class="swiper-slide">
                        <div class="box">
                            <a href="/Mag/Post/@item.Id/@item.Url">
                                <div class="img-place">
                                    <img src="@item.Image.BindImage(Configuration)" alt="">
                                    <div class="label-time">@item.CreatedDate.ConvertToPesainDate().toPersianNumber()</div>
                                </div>
                                <div class="text-head">
                                    <h3>
                                        @item.Title
                                    </h3>
                                </div>
                                <div class="text-define">
                                    <p>
                                        @item.Abstract
                                    </p>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
            <div class="next-slider">
                <img src="assets/images/public/next-right-gray.svg" alt="">
            </div>
            <div class="prev-slider">
                <img src="assets/images/public/prev-left-gray.svg" alt="">
            </div>
        </div>

    </section>
}