@page
@model Ghaleb.Web.Pages.Profile.EditPasswordModel
@{
    Layout = "~/Pages/Profile/Shared/_Layout.cshtml";
}
<div class="profile_status">
    <div class="heade-status">
        <h5>تغییر رمز عبور</h5>
    </div>
    <div class="edit-profile-form">
        <form method="post">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="mob">رمز عبور فعلی <span class="necessary">*</span></label>
                    <input type="password" name="CurrectPassword" class="form-control" placeholder="رمز عبور فعلی">
                </div>
                <div class="col-lg-6 form-group">
                    <label for="mob">
                       رمز عبور جدید <span class="necessary">*</span>
                    </label>
                    <input type="password" name="NewPassword" class="form-control" placeholder="رمز عبور جدید" >
                </div>
                <div class="col-lg-6 form-group">
                    <label for="mob">تکرار رمز عبور جدید <span class="necessary">*</span>  </label>
                    <input type="password" name="ConfirmNewPassword" class="form-control" placeholder="تکرار رمز عبور جدید">
                </div>
                <div class="col-12">
                    <button class="btn btn-default px-4" type="submit">اعمال تغییرات</button>
                    @ViewData["Message"]
                </div>
            </div>

        </form>
    </div>
</div>