@model ALO.ViewModels.Product.ProductListForHomeDto
@{
    var average = Math.Round(Model.Ratings.Select(x=>x.Rating).Sum() / Model.Ratings.Count());
}

<div class="box">
    <div class="box">
        <a href="/Product/@Model.Id/@Model.Url">
            <img src="@Model.Image" alt="">
        </a>
        <div class="star-place">
            @for (int i = 1; i <= 5; i++)
            {
                if (i <= average)
                {
                    <i class="fa fa-star"></i>
                }
                else
                {
                    <i class="fa fa-star" style="color:gray"></i>

                }
            }
        </div>
        <div class="Product-code">
            <a href="/Product/@Model.Id/@Model.Url">
                کد : @Model.Id
            </a>
        </div>
        <div class="price">
            @Model.Cost تومان
        </div>
    </div>
</div>