@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ALO.DomainClasses.Entity.Account.tbl_UserAddresses>
@{
    ViewData["Title"] = "لیست دسته بندی ها";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="">
            <div class="card-header border-0">

            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead>
                        <tr>
                            <th>آدرس </th>
                            <th>پلاک </th>
                            <th>واحد </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Address</td>
                                <td>@item.Pelak</td>
                                <td>@item.Vahed</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>