@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@model IEnumerable<ALO.DomainClasses.Entity.Order.tbl_Order>
@{
    ViewData["Title"] = "لیست سفارشات";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">

            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                    <thead>
                        <tr>
                            <th>کد سفارش</th>
                            <th>وضعیت</th>
                            <th>تاریخ سفارش</th>
                            <th>مجموع قیمت</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.OrderCode</td>
                                <td>@item.OrderState.ToString()</td>
                                <td>@item.CreatedDate</td>
                                <td>
                                    <a class="btn btn-info" asp-route-id="@item.Id" asp-action="Details">مشاهده جزییات</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>