@model IEnumerable<ALO.DomainClasses.Entity.LinkManagement.tbl_LinkManagement>
@{
}

<style>
    .top-menu-items {
        font-size: 12px;
        font-weight: 400;
        line-height: 2.17;
        color: #62666d;
    }
</style>
<nav class="menu-nav">
    <ul>
        <li class="close-menu">
            <i class="fa fa-close"></i>
        </li>
        <li>
            <a href="~/">
                خانه
            </a>
        </li>
        <li class="menu-m">
            @await Component.InvokeAsync("Categories")
        </li>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Content(item.Link)">
                    @item.Title
                </a>
            </li>
        }

    </ul>
</nav>
