@model IEnumerable<ALO.DomainClasses.Entity.LinkManagement.tbl_LinkManagement>
@{
}

<div class="links-list">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="@Url.Content(item.Link)">
                    @item.Title
                </a>
            </li>
        }
    </ul>
</div>
