@model ALO.DomainClasses.Entity.Product.tbl_ProductPriceHistory
@{
}
@if(Model !=null)
{
<form method="post" class="c_quantity d-flex align-items-center justify-content-center flex-wrap mb-3">
        <div class="new-price"><span>@Model.Price.ToString("n0")</span> تومان</div>
    <span class="mx-2 mt-3">تعداد: </span>
    <div class="c_quantity-a d-flex mt-3">
        <button class=" increment btn" type="button"><i class="fa fa-plus"></i></button>
        <input class="counter form-control" name="Count" type='text'>
        <button type="button" class="decrement btn"><i class="fa fa-minus"></i></button>
    </div>
    <button asp-page-handler="AddToBasket" asp-route-id="@Model.Id"  class="btn btn-default mt-3">
        افزودن
        به سبد
        خرید
    </button>
</form>
}
else{
    <span>ناموجود</span>
}