


<div class="profile-aside">
    <div class="text-center">
        <img src="~/assets/img/user.png" alt="" class="img-fluid mb-3" width="90px">
        <h3>@User.Identity.Name</h3>
        <div>09360508313</div>
    </div>
    <ul>
        <li>
            <a asp-page="/Profile/Dashboard">
                <i class="fa fa-folder-open"></i>
                داشبورد
            </a>
        </li>
@*        <li>
            <a asp-page="/Profile/Discount">
                <i class="fa fa-list-ul"></i>
                تخفیفات
            </a>
        </li>*@
        <li>
            <a asp-page="/Profile/Wallet/Index">
                <i class="fa fa-credit-card"></i>
                کیف پول
            </a>
        </li>
        <li>
            <a asp-page="/Profile/Orders">
                <i class="fa fa-list"></i>
                سفارشات
            </a>
        </li>
        <li>
            <a asp-page="/Profile/EditProfile">
                <i class="fa fa-user"></i>
                ویرایش اطلاعات
            </a>
        </li>
        <li>
            <a asp-page="/Profile/Favourites">
                <i class="fa fa-heart"></i>
                علاقه مندی ها
            </a>
        </li>
        <li>
            <a asp-page="/Profile/EditPassword">
                <i class="fa fa-lock"></i>
               تغییر رمز عبور
            </a>
        </li>
        <li>
            <a asp-page="/Profile/Address">
                <i class="fa fa-map-marker"></i>
                آدرس
            </a>
        </li>
        <li>
            <a asp-page="/Profile/Logout">
                <i class="fa fa-power-off"></i>
                خروج
            </a>
        </li>
    </ul>

</div>