@model ALO.DomainClasses.Entity.Content.tbl_ContactUsDetails
@{
}
@if (Model != null)
{

    <div class="contact-place">
        <div class="phone">
            <i class="fa fa-mobile"></i>
            <b>شماره تماس : </b>
            <span>@Model.Mobile</span>
        </div>
        <div class="address">
            <i class="fa fa-map-marker "></i>
            <b>آدرس : </b>
            <span>@Model.Address</span>
        </div>
        <div class="email">
            <i class="fa fa-envelope"></i>
            <b>ایمیل : </b>
            <span>@Model.Email</span>
        </div>
    </div>
}